@import "../../../../bower_components/bourbon/app/assets/stylesheets/bourbon"

body
  background-color: #3f3f3f
  margin: 0
  padding: none

.wee-square
  display: block
  +size(50px 50px)
  +position(absolute, 0 0 )
  background-color: lighten(lime, 20%)
